*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

h1{
  padding-top: 10px;
  font-size: 60px;
  text-align: center;
  color: white;
  background-color: lightblue;
  color: white;
  text-shadow:
   -1px -1px 0 #afacac,
    1px -1px 0 #545454,
   -1px 1px 0 #696868,
    1px 1px 0 #423f3f;
    padding-bottom: 15px;
}

main{
  background-color: lightblue;
  text-align: center;
  padding-bottom: 50px;
}

.row{
  padding-bottom: 20px;
  position: relative;
}

.covercard img{
  width: 90%;
  display: none;
  position: absolute;
}


.covercard{
  border: solid 0.1px lightgrey;
  border-radius: 10px;
  background-image: url(../img/pattern.png);
  background-size: contain;
  height: 150px;
  width: 135px;
  display: inline-block;
  background-color: white;
  position: relative;
}

.covercard:hover{
  background-image: none;
}

span{
  left: 0;
  font-size: 25px;
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #e33488;
  text-shadow:
   -0.5px -0.5px 0 #afacac,
    0.5px -0.5px 0 #545454,
   -1px 1px 0 #696868,
    1px 1px 0 #423f3f;
}

.covercard:hover img, .covercard:hover span {
  display: block;
}
