*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

body{
  background-color: lightblue;
  text-align: center;
}

h1{
  padding-top: 10px;
  font-size: 60px;
  margin: auto;
  color: white;
  text-shadow:
   -1px -1px 0 #afacac,
    1px -1px 0 #545454,
   -1px 1px 0 #696868,
    1px 1px 0 #423f3f;
    padding-bottom: 15px;
}

main{
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto;
}

.container{
  width: 75%;
  display: inline-block;
}

.card, .nocover{
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
  background-image: url(../img/pattern.png);
  background-size: contain;
  height: 150px;
  width: 135px;
  background-color: white;
  position: relative;
  margin: 0 13px 18px 0;
  display: inline-block;
}

.nocover{
  border-radius: 10px;
  height: 150px;
  width: 135px;
  background-image: none;
  background-color: white;
  position: relative;
}

.nocover img, .card img{
  width: 80%;
  margin: auto;
  position: relative;
  display: block;
}

span{
  font-size: 20px;
  display: none;
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  color: #e33488;
  text-shadow:
   -0.5px -0.5px 0 #afacac,
    0.5px -0.5px 0 #545454,
   -1px 1px 0 #696868,
    1px 1px 0 #423f3f;
}

.nocoverspan{
  display: block;
}

.card img{
  display: none;
}

.card:hover{
  background-image: none;
}

.card:hover img, .card:hover span {
  display: block;
}

.cambiacolore:hover{
  color: orange;
}

footer{
  font-size: 20px;
  position: relative;
  padding-bottom: 30px;
}
